{% extends 'base.html.twig' %}



{% block main %}
    <br><br>
    <div class="text-center">
        <div class="card text-center text-white bg-dark form-group center" >
            <div class="card-header" style="width: auto; height: auto">
                {{ form_start(activityForm) }}
                {{ form_widget(activityForm) }}
                <a class="btn" href="{{ path('AjoutSortie') }}" role="button">
                    <button type="submit" class="btn btn-dark">Ajouter un campus</button>
                </a>
                {{ form_end(activityForm) }}
            </div>
        </div>
    </div>
{% endblock %}
